{
  "presets": [
    [ "@babel/preset-env", {
      "forceAllTransforms": true,
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "ie": 11
      }
    } ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
